.providers-container{
    margin-top: 2%;
    margin-left: 8%;
    margin-right: 8%;
    height: fit-content;
    border: solid 0px;
    box-shadow: 6px 6px rgba(0, 0, 0, 0.73);
    background-color: #1d2d50e1;
    display: flex;
    border-radius: 40px;
}